<!doctype html>
<html>
  <head>
    <title>Register for <%= shopData.shopName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Register for <%= shopData.shopName %></h1>

    <% if (errors && errors.length > 0) { %>
      <div class="error-box">
        <h2>There were problems with your submission:</h2>
        <ul>
          <% errors.forEach(function (err) { %>
            <li><%= err.msg %></li>
          <% }); %>
        </ul>
      </div>
    <% } %>

    <form method="POST" action="/users/registered">
      <p>
        Username:
        <input
          type="text"
          name="username"
          value="<%= (data && data.username) || '' %>"
        />
      </p>

      <p>
        First name:
        <input
          type="text"
          name="first"
          value="<%= (data && data.first) || '' %>"
        />
      </p>

      <p>
        Last name:
        <input
          type="text"
          name="last"
          value="<%= (data && data.last) || '' %>"
        />
      </p>

      <p>
        Email:
        <input
          type="email"
          name="email"
          value="<%= (data && data.email) || '' %>"
        />
      </p>

      <p>
        Password:
        <input type="password" name="password" />
      </p>

      <p>
        <input type="submit" value="Register" />
      </p>
    </form>

    <p><a href="/">Back to home</a></p>
  </body>
</html>